.sign-up-username{
    position:relative;
    width:100px;
    height: 100px;
    background-color: var(--primary-2)
    overflow: hidden;
    margin-top:0;
    
}

.sign-up-username.overlap-group{
    position: absolute;
    width: 152px;
    height: 1117px;
    top: 0;
    left : -2px;
}

.sign-up-username .welcome-page{
    position: absolute;
    width:120vh;
    height: 700px;
    top:0;
    left: 0;
    margin-top:none;
    margin-left: none;
    background-color: var(--white);
    box-shadow:0px 4px 24.4px 4px #0000001a;
}

.sign-up-username .text-wrapper{
    position: relative;
    width: 570px;
    top: 300px;
    left: 241px;
    font-family:"BreulGrosteskA-SemilLight" Helvetica;
    font-weight:400;
    color:#000000;
    font-size:64px;
    letter-spacing:-2.56px;
    line-height:53.8px;
   

}

.div{
    position: relative;
    top:300px;
    left:250px;
}
.sign-up-username.div{
    position:absolute;
    width: 570px
    top: 419px;
    left: 241px;
    font-family: "Work Sans-Regular",Helvetica
    color:var(--secondary);
    font-size:16px;
    font-size:16px;
    letter-spacing:0;
    line-height:22.4px;
}
.sign-up-username .text-wrapper-2 {
    position: absolute;
    top: 402px;
    left:273px;
    font-family:"Work Sans-Regular" ,Helvetica
    color:var(--accent);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height:22.4px;
    white-space: nowrap;

}
.element{
        position: absolute;
        width:21px;
        top: 403px;
        left:245px
        
    }       
.p{
    position: relative;
    top:330px;
    left:275px;
}

.didn-t-get-code{
    position: absolute;
    top:200px;
    left: 275px;
}
.sign-up-username .didn-t-get-code{
    position: absolute;
    top: 590px;
    left: 275px;
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size:12px;
    text-align: center;
    letter-spacing:0;
    line-height: 16.8px;
    white-space: nowrap;
}
.sign-up-usernme .span{
    color:#0b0c10;
}

.sign-up-username.text-wrapper-3{
    color: #00dab2;
    text-decoration: underline;
}
.sign-up-username.p{
    position:absolute;
    width: 538px;
    top: 532px;
    left: 273px;
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 400;
    color:var(--accent);
    font-size:16px;
    letter-spacing:0;
    line-height:22.4px;
}

.sign-up-username .container{
    position:absolute;
    width: 24px;
    height: 24px;
    top: 491px;
    left: 241px;
}

.sign-up-username .frame{
    width: 300px;
    height: 45px;
    padding: 0px 8px;
    top: 470px;
    left: 273px;
    border-radius:8px;
    border: 1px solid;
    border-color:#000000;
    display : flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    position: absolute;
}

.sign-up-username.text-wrapper-4{
    position:relative;
    width: 331px;
    font-family:"Work Sans-Medium", Helvetica;
    font-weight: 500;
    color:var(--secondary);
    font-size: 16px;
    letter-spacing:0;
    line-height: 22.4px;
}

.sign-up-username.div-wrapper{
    width: 180px;
    height: 36px;
    padding: 4px 31px;
    top: 726px;
    left: 273px;
    background-color:var(--primary);
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 8px;
    position:absolute;
}
.sign-up-username .text-wrapper-5{
    position:relative;
    width:fit-content;
    font-family: "Work Sans-Medium", Helvetica;
    color: var(--accent);
    font-size: 16px;
    letter-spacing:0;
    line-height:22.4px;
    white-space: nowrap;
    left:280px;
    top:387px;
}

.sign-ip-username .frame-2{
    width: 180px;
    height: 36px;
    padding: 4px 31px;
    top: 726px;
    left: 495px;
    background-color:var(--accent);
    border-radius:16px;
    align-items: center;
    justify-content:center;
    gap:8px;
    position:absolute;
}

.sign-up-username .text-wrapper-6{
    position:relative;
    width:fit-content;
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary);
    font-size:16px;
    line-height: 22.4px;
    white-space: nowrap;
    left:490px;
    top:364px;
    display: inline-block;
}

.sign-up-username .logo{
    position:absolute;
    width: 170px;
    height: 103px;
    top:167px;
    left:335px;
}

.sign-up-username .element{
    position:absolute
}
.box{
    width:729px;
    height:700px;
}

.box.illustration{
    position:fixed;
    width:729;
    height: 700px;
    top: 0;
    left:0;
}
.icon1{
   position: relative;
   left:900px;
   top:230px;
}
body{
    background-color: rgba(55, 250, 214, 1);
    min-height: 100%;
}

