.logo1{
  width: 100px;
  margin-left: 30px;
  margin-top: 30px;
}
.p1{
  margin-top: 35px;
  margin-left: 23px;
  font-size: 25px;
  font-weight: bolder;
}
.one{
  position: relative;
  margin-bottom: 50px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 25px;
 
}
.two{
  position: relative;
  margin-bottom: 50px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 25px;
}
.three{
  position: relative;
  margin-left:10px;
  font-weight: bolder;
  font-size: 25px;
  
}

.logo2{
  width: 140px;
  height: 70px;
  position: relative;
  left: 170px;
  bottom:80px;
}
.left-side{
  background-color: aquamarine;
  height: 720px;
  width:450px;
  position: relative;

  

}
.right-side{
  position: absolute;
  left: 600px;
  bottom: 190px;


}
p{
 position: relative;
 top:-85px;
 text-align: center;
 margin-right: 90px;
 font-weight: lighter;
 font-family: "Work Sans-Regualr", Helvetica;
}
.h1{
  font-size: 80px;
  margin-bottom: 120px;
  
}
button{
  position: relative;
  top:-80px;
  width: 500px;
  height: 30px;
  border-radius: 20px;
  border: solid;
  background-color: rgba(55, 250, 214, 1);
  border-color: rgba(55, 250, 214, 1);
  
}
.p1{
  margin-top: 130px;
}
.svg1{
  width: 30px;
  bottom:-3px;
}
.svg2{
  width: 30px;
  bottom:-3px;
}
.svg3{
  width:30px;
  position: relative;
  bottom:-3px;

}