
.welcome-page {
    position: relative;
    width: 1218px;
    height: 1117px;
    background-color: var(--white);
  }
  
  .welcome-page .text-wrapper {
    position: absolute;
    width: 706px;
    top: 355px;
    left: 256px;
    font-family: "BreulGroteskA-SemiLight-☞", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: -2.56px;
    line-height: 53.8px;
  }
  
  .welcome-page .frame {
    top: 491px;
    background-color: var(--primary);
    display: flex;
    width: 350px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 31px;
    position: absolute;
    left: 433px;
    border-radius: 16px;
  }
  
  .welcome-page .div {
    position: relative;
    flex: 1;
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .welcome-page .div-wrapper {
    top: 544px;
    background-color: var(--secondary);
    display: flex;
    width: 350px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 31px;
    position: absolute;
    left: 433px;
    border-radius: 16px;
  }
  
  .welcome-page .text-wrapper-2 {
    position: relative;
    flex: 1;
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .welcome-page .by-signing-up-you {
    position: absolute;
    top: 672px;
    left: 433px;
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .welcome-page .span {
    color: #8d8e91;
  }
  
  .welcome-page .text-wrapper-3 {
    color: #0b0c10;
    text-decoration: underline;
  }
  
  .welcome-page .p {
    position: absolute;
    top: 420px;
    left: 341px;
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 11.8px;
    white-space: nowrap;
  }
  
   