.left-side{
    width: 900px;
    height:650px;
  
    display: inline-block;
    position: relative;
}
.wrapper{
    position:absolute;
    top:90px;
    left:200px;
}
.wrapper-2{
    position: relative;
    bottom: 45px;
}
.right-side{
    width: 345px;
    height: 650px;
    float: right;
    background-color:rgba(55, 250, 214, 1);
}
h1{
    
}
.dot{
    width: 25px;
    height: 25px;
    position: relative;
}
.p-two{
    position: relative;
    bottom: 42px;
    left:35px;
}
.p-three{
    margin-left: 35px;
    position: relative;
    bottom:45px;

}

.p-four{
margin-left: 35px;
position: relative;
bottom:45px;
}
.p-one{
    opacity: 0.6;
    position: relative;
    bottom:43px;

}


.logo3{
    height: 300px;
    width: 300px;
    margin-top: 180px;
   
}
h1{
    font-size: 70px;
}
.email-code{
    width:400px;
    height: 30px;
    position: relative;
    bottom: 40px;

}
.confirm{
    display: inline-block;
    position: relative;
    right:410px;
    border-radius: 10px;
    width: 120px;
    border: solid;
    background-color: rgba(55, 250, 214, 1);
    border-color: rgba(55, 250, 214, 1);
    color:black;
    height: 23px;


}
.back{
    display: inline;
    margin-left:20px;
    position: relative;
    right:390px;
    border-radius: 10px;
    width:120px;
    border: solid;
    background-color: black;
    border-color: black;
    color: rgba(55, 250, 214, 1);
    height: 23px;

}
span{
    color:  rgba(55, 250, 214, 1);
}
.logo-1{
    width: 130px;
    height: 100px;
    margin-left:190px ;
}