.logo{
    position: relative;
    width:120px;
    margin-left: 60px;
    margin-top: 30px;

}

.dotsvg-1{
    width: 25px;
    height:25px;
}
.dotsvg-2{
    width:25px;
    height:25px;
    position: relative;
    top: 42px;
    right:30px;
   
}
.left-side{
    background-color: aquamarine;
    height: 720px;
    width:350px;
    position: relative;
  
    
  
  }

.right-side{
        position: absolute;
        left:550px;
        top:23px; 
        background-color:
}


.p-one{
    font-weight: bold;
    

}
.p-two{
    position: relative;
        bottom: 37px;
        left: 25px;
        font-weight: bold;
        
        
}
.p-three{
    position: relative;
    bottom:36px;
    left: 25px;
    font-weight: bold;

}
.p-four{
    position:relative;
    bottom:35px;
    left: 25px;
    font-weight: bold;
}
.p-five{
    position: relative;
    top: 100px;
    left:10px;
}
.wrapper{
    
}
input{
    display: inline-block;
    height: 35px;
    border-radius: 5px;
  
    
}
h1{
    margin-left: 60px;
    font-size: 50px;
    position: relative;
}
.provide{
    position: relative;
    bottom:35px;
    left:35px;
  
   
}
.username{
    position: relative;
    top: 55px;
    right: 175px;

}

.email{
    position: relative;
    top:107px;
    right: 348px;                                                                                                                                   px;
}
.programme{
    position: relative;
    top: 166px;
    right: 2px;

}

.learning-pace{
    position: relative;
    top: 125px;
    left:273px;
}
.dob{
    position: relative;
    top:157px;
    right: 523px;
}
.level{
    position: relative;
    left:100px;
    bottom:40px;
}
.class{
    position: relative;
    right: 75px;
    top:15px;
}
.archetype{
    position: relative;
    top:66px;
    right:249px;
}
.goals{
    position: relative;
    top: 75px;
    left:100px;
}

button{
    width: 500px;
    border-radius: 15px;
    border: solid;
    background-color: rgba(55, 250, 214, 1);
    border-color: rgba(55, 250, 214, 1);
    position: relative;
    top: 90px;

}
.p-six{
    position: relative;
    top: 114px;
    left:10px
}
.checkbox-1{
    position: relative;
    right: 517px;
    top:16px;
}
.checkbox-2{
    position: relative;
    right: 539px;
    top: 54px;
}